* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.h-100 {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.width-400 {
  width: 400px
}

.m-auto {
  margin: auto;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 32px;
}

.p-4 {
  padding: 48px;
}


.text-center {
  text-align: center;
}


.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.overflow-auto {
  overflow: auto;
}

.rounded {
  border-radius: 4px;
}

.rounded-circle {
  border-radius: 50%;
}

.logo {
  width: 50px;
  height: 50px;
}